<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Meter2d" value="48.0" />
    <add key="Entity2dPerimeterCenteredDefault" value="False" />
    <add key="EntityGuiPerimeterCenteredDefault" value="False" />
    <add key="DisplayVirtualResolution" value="[960 540]" />
    <add key="DisplayScalar" value="1" />
    <add key="SliceMarginDefault" value="[0 0]" />
  </appSettings>
</configuration>