<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DesiredFrameRate" value="[StaticFrameRate 60]"/>
    <add key="Meter2d" value="48.0" />
    <add key="EntityPerimeterCentered2dDefault" value="False" />
    <add key="EntityPerimeterCenteredGuiDefault" value="False" />
    <add key="VirtualResolution" value="[960 540]" />
    <add key="VirtualScalar" value="3" />
  </appSettings>
</configuration>