<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResolutionX" value="960" />
    <add key="ResolutionY" value="544" />
    <add key="EventTracing" value="False" />
    <add key="EventFilter" value="       [All         [[Any           [[Pattern &quot;^\w{8}-(\w{4}-){3}\w{12}&quot; []]]]          [NotAny           [[Pattern &quot;^Mouse\/Move&quot; []]            [Pattern &quot;^Mouse\/Drag&quot; []]]]]]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>