<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResolutionX" value="960" />
    <add key="ResolutionY" value="544" />
    <add key="EventLogging" value="False" />
    <add key="EventFilter" value="
      [And
        [[Pattern [^\w{8}-(\w{4}-){3}\w{12} []]]
         [Nor
          [[Pattern [^Mouse\/Move []]]
           [Pattern [^Mouse\/Drag []]]]]]]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>