<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VirtualScalar" value="2" />
    <add key="EventTracing" value="False" />
    <add key="EventFilter" value="Empty" />
    <add key="EntityCentered2dDefault" value="True" />
    <add key="EntityCenteredGuiDefault" value="True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>