<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResolutionX" value="960" />
    <add key="ResolutionY" value="544" />
    <add key="EventTracing" value="False" />
    <add key="EventFilter" value="Empty" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>